[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
numpy = "*"
scikit-learn = "==1.4.2"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
